
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<div class="col-8 m-auto pt-2 pb-2 text-center">
    <h1>Relatório</h1>
</div>

<div class="col-8 m-auto pt-3 pb-2 text-center">
    <a href="/" class="btn btn-info">Voltar</a>
</div>

<div class="col-8 m-auto pt-4 pb-2 text-center">
    <strong>Código: </strong>{{db.cod_cliente}}<br>
    <strong>Nome: </strong>{{db.nme_cliente}}<br>
    <strong>Email: </strong>{{db.dsc_email}}<br>
    <strong>Telefone: </strong>{{db.num_telefone}}<br>
    <strong>Rua: </strong>{{db.dsc_logradouro}}<br>
    <strong>Complemento: </strong>{{db.dsc_complemento}}<br>
    <strong>CEP: </strong>{{db.cod_cep}}<br>
    <strong>Bairro: </strong>{{db.nme_bairro}}<br>
    <strong>Cidade: </strong>{{db.nme_municipio}}<br>
    <strong>Estado: </strong>{{db.nme_estado}}<br>
    
</div>